.main-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.small-square {
    background-color: black;
    opacity: 0.4;
    height: 100px;
    width: 100px;
}

.single-row {
    display: flex;
    gap: 10px;
}